<div class="auth-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="auth-form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="credentials.username" #username="ngModel" placeholder="Username (test)">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-message">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="credentials.password" #password="ngModel" placeholder="Password (password)">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
          Password is required.
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid || loading" class="submit-button">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading">Entering...</span>
      </button>
    </form>
    <p class="redirect-link">Don't have an account? <a routerLink="/register">Registration</a></p>
  </div>