<div class="auth-container">
    <h2>Registration</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="auth-form">
      <div class="form-group">
        <label for="reg-username">Username:</label>
        <input type="text" id="reg-username" name="username" required minlength="4" [(ngModel)]="userData.username" #username="ngModel">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-message">
          <span *ngIf="username.errors?.['required']">Required field.</span>
          <span *ngIf="username.errors?.['minlength']">At least 4 characters.</span>
        </div>
      </div>
      <div class="form-group">
        <label for="reg-email">Email:</label>
        <input type="email" id="reg-email" name="email" required email [(ngModel)]="userData.email" #email="ngModel">
         <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
          <span *ngIf="email.errors?.['required']">Required field.</span>
          <span *ngIf="email.errors?.['email']">Invalid email.</span>
        </div>
      </div>
      <div class="form-group">
        <label for="reg-password">Password:</label>
        <input type="password" id="reg-password" name="password" required minlength="6" [(ngModel)]="userData.password" #password="ngModel">
         <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
           <span *ngIf="password.errors?.['required']">Required field.</span>
           <span *ngIf="password.errors?.['minlength']">At least 6 characters.</span>
         </div>
      </div>
       <div class="form-group">
        <label for="reg-password2">Repeat password:</label>
        <input type="password" id="reg-password2" name="password2" required [(ngModel)]="userData.password2" #password2="ngModel">
         <div *ngIf="password2.touched && !passwordsMatch()" class="error-message">
          The passwords do not match.
         </div>
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger"> {{ errorMessage }} </div>
      <div *ngIf="successMessage" class="alert alert-success"> {{ successMessage }} </div>
  
      <button type="submit" [disabled]="registerForm.invalid || !passwordsMatch() || loading" class="submit-button">
         <span *ngIf="!loading">Registration</span>
         <span *ngIf="loading">Registering...</span>
      </button>
    </form>
    <p class="redirect-link">Do you have an account? <a routerLink="/login">Login</a></p>
  </div>