<header class="main-header">
    <nav>
      <a routerLink="/" class="logo">💰 Finance Tracker</a>
      <span *ngIf="currentUser$ | async as user" class="user-greeting">
        Hello, {{ user.username }}!
      </span>
      <ul>
        <ng-container *ngIf="isLoggedIn$ | async">
          <li><a routerLink="/dashboard" routerLinkActive="active">Home page</a></li>
          <li><a routerLink="/transactions" routerLinkActive="active">Transactions</a></li>
          <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
          <li><a routerLink="/wallets" routerLinkActive="active">Wallets</a></li>
          <li><a routerLink="/analytics" routerLinkActive="active">Analytics</a></li>
          <li><button (click)="logout()" class="logout-button">Exit</button></li>
        </ng-container>
        <ng-container *ngIf="!(isLoggedIn$ | async)">
           <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
           <li><a routerLink="/register" routerLinkActive="active">Registration</a></li>
        </ng-container>
      </ul>
    </nav>
  </header>