h1 {
    color: navy; /* Тақырыптың түсін көкшіл ету */
    text-align: center; /* Ортаға туралау */
    margin-top: 20px;
  }
  
  p {
    color: green; /* Параграф мәтінінің түсін жасыл ету */
    text-align: center;
    font-size: 18px;
  }